div {
  width: 150px;
  height: 150px;
  display: flex;
  margin: 5px;
}
.one {
  background: linear-gradient(red, blue);
}
.two {
  background: linear-gradient(to top, red, blue, yellow, white, black);
}
.three {
  background: linear-gradient(150deg, red, blue);
}
.four {
  background: linear-gradient(to top left, red, blue);
}
.five {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}
.six {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
}
