h1 {
  /* text-shadow: 5px 1px 3px green; */
  /* x y blur color */
  text-shadow: 10px 19px 2px rgba(200, 133, 255, 1);
}
.box {
  display: block;
  height: 100px;
  width: 100px;
  background-color: red;

  margin: 200px;
  transition: all 0.5s linear;
  /* box-shadow: 3px 5px 10px green; */
}
.box:hover {
  -webkit-box-shadow: 57px 40px 27px 78px rgba(186, 186, 186, 1);
  -moz-box-shadow: 57px 40px 27px 78px rgba(186, 186, 186, 1);
  box-shadow: 57px 40px 27px 78px rgba(186, 186, 186, 1);
}
